/*

This file contains tests for FULL_NAME
DESCRIPTION_PLACEHOLDER

See: LINK_TO_FEATURE

TODO: create a test for this feature and move it to test/cases/unimplemented/
TODO: write an implementation for this feature and move it to test/cases/features/

*/
